{% extends 'admin_base.html.twig' %}

{% block title %}Créer des Quiz{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow-sm p-4">
            <h1 class="mb-4 text-center">Créer un Quiz</h1>
              {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
            <div class="ml-5 mr-5">
                {{ include('quiz/_form.html.twig') }}

                {# <div class="d-flex justify-content-between mt-4">
                 <a href="{{ path('app_flashcards_index') }}" class="btn btn-secondary">
                   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg>
                     Retour à la liste
                </a>
                </div> #}
            </div>
        </div>
    </div>
{% endblock %}

